 {{#events}}
        <h2><i>{{ title }}</i></h2>
        <p><strong>{{ description }}</strong></p>
	<i class="fas fa-thumbs-up"></i> {{likes}} Likes <br>
        Comment <input name="title" type="text" /> <br />
  {{/events}}
